
body {
    padding-top: 60px; 
    padding-bottom: 60px; 
  }
  
  app-header, app-footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
  }
  
  app-header {
    top: 0;
  }
  
  app-footer {
    bottom: 0;
  }
  