<!-- <div>
  <p>Currency Pipe: {{ currencyValue | currency:'':'symbol':'1.0-0' }}</p>

  <p>Currency Pipe: {{ currencyValue | currency }}</p>
  <p>Score: {{ score }}</p>
  <p>Date (IST): {{ dateValue | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
  <p>Date (UTC): {{ dateValue | date: 'dd/MM/yyyy HH:mm:ss':'UTC' }}</p>
</div> -->


<div class="container">
  
     
  <div class="box-1">
    
     <div class="name">
      <span class="p-2">Currency Pipe</span>
     </div>
     <div class="value">
      <span class="p-2">{{currencyValue|currency:'':'symbol':'1.0-0' }}</span>
     </div>
    
    
  </div>
  
  <div class="box-2">
    
     <div class="name">
      <span class="p-2">Time Pipe</span>
     </div>
     <div class="value">
      <span class="p-2">{{timeValue}}</span>
     </div>
    
    
  </div>
  
  <div class="box-3">
    
     <div class="name3">
      <span class="p-2">Date Pipe</span>
     </div>
     <div class="vblack">
      <span class="p-2">{{timeValue}}</span>
     </div>
    
    
  </div>
  <div class="box-4">
    
     <div class="name3">
      <span class="p-2">Date Pipe</span>
     </div>
     <div class="vblack">
      <span class="p-2">{{timeValue}}</span>
     </div>
    
    
  </div>
  
  <div class="box-5">
    
     <div class="name3">
      <span class="p-2">UTC Date</span>
     </div>
     <div class="vblack">
      <span class="p-2 ">{{timeValue}}</span>
     </div>
    
    
  </div>
  
  


       
        
       
    
   
</div>



